body{
  background-color: #f6f6f6;
  min-width: 650px;
  .header{
    height: 70px;
    width: 100%;
    padding: 0 150px;
    background-color:#00FFFF;
    color: #fff;
    display: flex;
    justify-content: space-between;
    &__title{
      font-size: 30px;
      line-height: 56px;
      &--text{
        text-decoration: none;
        color: #fff;
      }
    }
    &__right{
      &--btn{
        text-decoration: none;
        line-height: 56px;
        color: #fff;
        margin-left:15px;
      }
    }
  }
  .contents{
    margin: 30px auto 0;
    background-color: #fff;
    width: 80%;
    overflow: scroll;

    .heading {
      padding: 10px;
      border-bottom: 1px solid #f6f6f6;
      display: flex;

      &__table {
        font-size: 20px;
        font-weight: bold;
        width: 55px;
      }

      &__text {
        display: flex;

        &__titols {
          font-size: 20px;
          font-weight: bold;
          display: flex;

          &__taitoru {
            width: 450px;
          }
        }

        &__write {
          font-size: 20px;
          font-weight: bold;

          &__tyosya {
            width: 400px;
          }
        }
      }

      &__names {
        font-size: 20px;
        font-weight: bold;
      }
    }
    .content{
      padding: 10px 0 10px 10px;
      border-bottom: 1px solid #f6f6f6;
      display: flex;
      &__left{

        &--id{
          width: 55px;
          font-size: 15px;
          
        }
      }
      &__right{
        display: flex;
        justify-content: space-between;

        &__box {
          display: flex;
          justify-content: space-between;

          &__top{
            width: 450px;
            
            #content__right__top__titles {
              text-decoration: none;
              color: black;
            }
          }

          &__bottom{
            font-size: 15px;
            width: 400px;
            
            &--author{
              margin-left: 20px;
            }
          }
        }

        &__nicknames {
          width: 230px;
          font-size: 12px;
          margin-top: 5px;
          color: #666666;
        }

        &__edit {
          display: flex;
          width: 150px;
          
          &__new {
            width: 45px;

            #edit-pass {
              text-decoration: none;
              color: black;
            }
            
          }

          &__destroy {
            padding-left: 40px;

            #destroy-pass {
              text-decoration: none;
              color: black;
            }
          }
        }
      }


      &__title{
        font-size: 30px;
        font-weight: bold;
        padding-top: 30px;
        text-align: center;
        border-bottom: 1px solid #f6f6f6;
      }
    }
    
    
  }
  .user{
    padding: 15px 30px;
  }
}