.hamberger_line {
  display: inline-block;
  width: 36px;
  height: 28px;
  vertical-align: middle;
  cursor: pointer;
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 100;
  transform: translateX(0);
  transition: transform .5s;
  span {
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.356);
    transition: all .5s;
  }
}

.hamberger_line span:nth-of-type(1) {
  top: 0;
}
.hamberger_line.open span:nth-of-type(1) {
  transform: translateY(12px) rotate(45deg);
  background-color: #fff;
}
.hamberger_line span:nth-of-type(2) {
  top: 12px;
}
.hamberger_line.open span:nth-of-type(2) {
   opacity: 0;
}
.hamberger_line span:nth-of-type(3) {
  bottom: 0;
}
.hamberger_line.open span:nth-of-type(3) {
  transform: translateY(-12px) rotate(-45deg);
  background-color: #fff;
}


.hamberger_list {
  width: 200px;
  height: 100%;
  padding-top: 100px;
  background-color: rgba(16, 69, 153, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transform: translateX(-250px);
  transition: all .5s;
  li {
    text-align: center;
    padding: 10px 0;
    list-style: none;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  &.open {
    transform: translateX(0);
  }
}


.log {
  position: absolute;
  bottom: 30px;
}

.overlay {
  content: "";
  display: block;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity .5s;
  &.open {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}