.form{
  width: 85%;
  height: 100%;
  margin: 0 auto;
  padding-top: 30px;
  &__title{
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 25px;
  }

  &__text{
    display: block;
    width: 100%;
    height: 50%;
    margin-top: 25px;
  }

  &__btn{
    display: block;
    width: 30%;
    margin: 25px auto 0;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
  }
}