.New {
  .NewCardTitle{
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #f6f6f6;
  }

  .NewCardBox {
    display: flex;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #f6f6f6;

    .NewCardAuthorName {
      font-size: 20px;
      font-weight: bold;
      width: 88px;

      
    }

    .NewCardAuthor{
      color: black;
      width: calc(100% - 40px);
      text-align: center;
      padding: 0 40px 0 0;
    }
  }
  .Btn {
    padding-left: 50px;
    background-color: #f6f6f6;

    #Form__btn {
      width: 200px;
      display: block;
      margin: auto;
      text-align: center;
      text-decoration: none;
      color: #67c5ff;
      border: solid 2px #67c5ff;
      border-radius: 3px;

    }
  }
}

