<div class="hamberger_menu">
  <% if user_signed_in? %>
    <% if request.path.include?("users") && current_user.id == @user.id%>
      <%# 三本線 %>
      <div class="hamberger_line" >
        <span></span>
        <span></span>
        <span></span>
      </div>

        <%# クリックしたときのメニュ- %>
      <nav class="hamberger_list">
        <ul>
          <li><%= link_to "登録情報変更", "#"  %></li>
        </ul>
        <div class="log">
          <%= @cards.first.updated_at.strftime('%Y/%m/%d %H:%M:%S') %>
        </div>
      </nav>

      <div class="overlay"></div>
    <% end %>
  <% end %>
</div>