<div class="heading">
  <div class="heading-table"></div>
</div>

<% @cards.each do |card| %>
  <div class="content">
    <div class="content__left">
      <div class="content__left--id">
        <%= card.id %>
      </div>
    </div>
    <div class="content__right">
      <div class="content__right__top">
        <%= card.title %>
      </div>
      <div class="content__right__bottom">
        <div class="content__right__bottom--author">
          <%= card.author %>
        </div>
      </div>
    </div>
  </div>
<% end %>