<div class="contents">
  <div class="heading">
    <div class="heading__table">
      <div class= "heading__table__ids">
        ID
      </div>
    </div>
    <div class="heading__text">
      <div class= "heading__text__titols">
        <div class= "heading__text__titols__taitoru">
          タイトル
        </div>
      </div>
      <div class="heading__text__write">
        <div class="heading__text__write__tyosya">
          著者
        </div>
      </div>
      <div class="heading__names">
        読んだ人
      </div>
    </div>
  </div>

  <% @cards.each do |card| %>
    <div class="content">
      <div class="content__left">
        <div class="content__left--id">
          <%= card.user_id %>
        </div>
      </div>
      <div class="content__right">
        <div class= "content__right__box">
          <div class="content__right__box__top">
            <%= link_to card.title, card_path(card.id), id: "content__right__top__titles" %>
          </div>
          <div class="content__right__box__bottom">
            <%= card.author %>
          </div>
        </div>
        <div class= "content__right__nicknames">
          <%= link_to card.user.nickname, user_path(card.user_id), class: "content__right__nicknames__links"%>
        </div>
      </div>
    </div>
  <% end %>
</div>