<div class="contents">
  <div class="heading">
    <div class="heading__table">
      ID
    </div>
    <div class="heading__text">
      <div class= "heading__text__titols">
        タイトル
      </div>
      <div class="heading__text__write">
        著者
      </div>
    </div>
  </div>

  <% @cards.each do |card| %>
    <div class="content">
      <div class="content__left">
        <div class="content__left--id">
          <%= card.id %>
        </div>
      </div>
      <div class="content__right">
        <div class= "content__right__box">
          <div class="content__right__box__top">
            <%= link_to card.title, card_path(card.id), id: "content__right__top__titles" %>
          </div>
          <div class="content__right__box__bottom">
            <div class="content__right__box__bottom--author">
              <%= card.author %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>