.Reg {
  margin: 30px auto 0;
  background-color: gainsboro;
  width: 700px;
  text-align: center;

  .RegBox {
    &__SignUp {
      padding: 20px;
      font-size: 25px;
      font-weight: bold;
      border-bottom: 1px solid #f6f6f6;
    }

    .field {
      padding: 20px;

      &__box {
        width: 300px;
      }
    }
    .actions {
      padding: 20px;

      &__btn {
        width: 300px;
        margin: auto;

        #FielName {
          width: 300px;
        }
      }
    }
  }
}